body{

    background-color:rgb(63, 58, 58) ;
}


.textoprincipal{


    text-align: center;
    color: white;

}

.conteudo-principal{

    text-align: center;
}

a {

    text-decoration: none;
    color: aliceblue;

    
}

a:hover{

    font-size: 18px;
}